@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

.formcontainerF{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1000px; 
    margin: auto 1rem;
    padding: 16px;
  }  


.formrow{
    display: flex;
    gap: 20px;
    align-items: center;
}

.formrow1{
  display: flex;
  gap: 105px;
}


.select,
.input{
  border: 1px, solid #F1F5F9;
  display: block;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: #F1F5F9;
  transition: 0.2s;
  flex: 1;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  box-sizing: border-box;
  
}


.select:focus,
.select:hover{
  outline: none;
  border-color: #00ACAC;
  background: white;
  box-shadow: 0 0 0 1px #00cccc;
}

.label{
  margin-bottom: -10px;
}
