@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

.formcontainerP{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px; 
    margin: 0;
    padding: 16px;
}

.formrowP{
    display: flex;
    gap: 20px;
}