.containerTituloE{
    text-align: center;
}

.formContainerE{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8 px;
    max-width: 600px; 
    margin: 0 auto;
    padding: 16px;
}

.formrowE{
    display: flex;
    gap: 20px;
}