.cadastroremedioest{
    position: center;
    display: block;
    min-height: 100vh;
    gap: 2rem;
    overflow: hidden;
}

.formcadastroestoque{
    max-width: 30rem; 
    padding: 2rem;
}

@media (max-width: 40rem){
    .cadastroremedioest{
      grid-template-columns: 1fr;
    }
    .cadastroremedioest::before{
      display: none;
    }
    .formcadastroestoque{
      max-width: 100%;
    }
  }