.containerButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button2{
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #00ACAC;
    color: white;
    min-width: 8rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1s;
    width: 600px;
    height: 60px;
}
  
.button2:hover,
.button2:focus{
    outline: none;
    box-shadow: 0 0 0 1px #00cccc, 0 0 0 2px #00ACAC;
}
  
.button2:disabled{
    opacity: 0.5;
    cursor: wait;
}
